body{
    background-color: #222831;
    font-family: 'Roboto', sans-serif;
    color: #eeeeee;
    margin: 0px 250px 0px 250px;
}
 
  /* for screens above 1200px */
  /* changed overall Margin */
@media screen and (max-width:1200px){
    body{
        margin: 0px 125px 0px 125px;
    }    
}
/* for screens betwwen 635 and 992px */
/*  changes overall margin */
@media screen and (max-width:992px){
    body{
        margin: 0px 100px 0px 100px;
    }
    
    
}
/*  for screens below 635px */
/* this this screen size hides the avatar and changes overall margin */
@media screen and (max-width:635px){
    body{
        margin: 0px 100px 0px 100px;
    }
    .avatar{
        display: none;
    }
    nav{
        /* background-color: red; */
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;
    }
    
}

nav{
    
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Mono', monospace; 
    font-size: 18px;
    
}
li{
    text-decoration: none;
    list-style-type: none;
    margin: 50px 20px 0px 0px;
}
a{
    text-decoration: none;
    color: #00adb5;
    position: relative;
}
/* creates a line underneath each link */
a:after{
    content: "";
    position: absolute ;
    background-color: #00adb5;
    height: 2px;
    width: 0%;
    left: 0px;
    bottom: -5px;
    transition: 0.3s;
}
/* creats a hover transition */
a:hover:after{
    width: 100%;
}
h1{
    color: #eeeeee;
}
h2,
h3{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:#00adb5;
}
hr{
    width: 100%;
    height: 2px;
    border: 0px;
    background-color: #00adb5;
}
span{
    
    display: flex;
    justify-content: center;
    align-content: center;
    border: solid 2px #00adb5;
    padding: 5px;
    color: #00adb5;
    
}
.logo{
    
    font-family: 'Roboto', sans-serif;
    background-color: #222831;
    color: #00adb5;
    border: solid #00adb5 2px;
    text-align: center;
    font-size: 50px;
    width: 100px;
    height: 66px;
    
}
/* logo changes on hover by changing colors and background */
.logo:hover{
    background-color: #00adb5;
    color: #222831;    
    border: solid #00adb5 2px;
    
}
.top-bar{
    display: flex;
    justify-content: flex-end;
}
.Intro{
    display: flex; 
    flex-direction: column;  
    align-items: center; 
}
.avatar{
    
    height: 135px;
    border-radius: 50%;
    border: solid #00adb5 5px;
    filter: drop-shadow(0px 6px 6px black);
    
}
.name{
    font-size: 35px;
    font-weight: 300;
    margin: 20px 0px 0px 0px;
    
}
/* this only affects the line right after the name */
.name-discription{
    font-size: 20px;
    font-weight: 200;
    color:#eeeeee;
    font-family: 'Inconsolata', monospace;
    filter: opacity(50%);
    margin: 0px;
    
}
    
/* this is for about section */
.discription{
    color: #eeeeee;
    font-family: 'Roboto Mono', monospace; 
    font-weight:200;
    font-size: 15px;
    margin: 30px;
}
/* puts the cars in a grid */
.cards{
    display: grid;
    gap: 15px;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: 400px 150px;
}
/* creates layout in the hero card */
/* can be used to place information inside the cards-Not shown- Possible future functionality */
.hero{
    grid-column: 1/5;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 400px ;
    background-color: #393E46;
    color: #eeeeee;
    }
/* places image in the  hero card correctly */
.hero_image{
    grid-column: 1/4;
    background: no-repeat center center/cover;
}
/* creates layout in the  card */
/* can be used to place information inside the cards-Not shown- Possible future functionality */
.card{
    grid-column: auto;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 150px ;
    background-color: #393E46;
    color: #eeeeee;
    }
    /* overlay information on hero image */
.card_overlay_hero{
    
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    bottom: 0px;
   
}
/* overaly information on the cards */
.card_overlay{
    
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    bottom: 0px;
   
}
/* places image in the card correctly */
.card_image{
    grid-column: 1/4;
    background: no-repeat center center/cover;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
}


